extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    a(href="/login")
      img#logo(src="https://placekitten.com/g/32/32", alt="face logo")
    .navlink
      a(href="/logout") Log out
  section#makeRoom
    form#RoomForm(class="RoomForm", name="RoomForm", action="/maker", method="POST")
      label(for="name") Name: 
      input#RoomName(type="text", name="name", placeholder="Room Name")
      a#makeRoomSubmit(class="makeRoomSubmit", href="#") Make Room
  section#Rooms
    if !Rooms || Rooms.length == 0
        div.Room
            h3.emptyRoom No Rooms yet
    else
        each val in Rooms
            div.Room
                img(class="RoomFace", src="https://placekitten.com/g/64/64", alt="Room face")
                h3.RoomName Name: #{val.name}
  #RoomMessage
    h3
      span#errorMessage
block scripts
        script(src="/assets/maker.js")