extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    a(href="/login")
      img#logo(src="https://placekitten.com/g/32/32", alt="logo")
    .navlink
      a(href="/logout") Log out
  section#domos
    if !users || users.length == 0
        div.domo
            h3.emptyDomo No users yet
    else
        each val in users
            div.domo
                img(class="domoFace", src="https://placekitten.com/g/32/32", alt="domo face")
                h3.domoName Name: #{val.username}
block scripts
        script(src="/assets/maker.js")