extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    a(href="/login")
<<<<<<< HEAD
      img#logo(src="https://placekitten.com/g/32/32", alt="logo")
=======
      img#logo(src="/assets/img/face.png", alt="face logo")
>>>>>>> e1887269e6dfb21f2e7daad4c3acdea568fe780b
    .navlink
      a(href="/login") Login
    .navlink
      a(href="/signup") Sign up
  section#login
    form#loginForm(class="mainForm", name="loginForm", action="/login", method="POST")
      label(for="username") Username: 
      input#user(type="text", name="username", placeholder="username")
      label(for="pass") Password: 
      input#pass(type="password", name="pass", placeholder="password")
      a#loginSubmit(class="formSubmit", href="#") Sign in
<<<<<<< HEAD
  #errorMessage
    h3
      span#errorMessage Wrong username or password
=======
  #domoMessage
    img#speech(src="/assets/img/speech.png", alt="speech box")
    h3
      span#errorMessage Wrong username or password
    img#domo(src="assets/img/domo.png", alt="domo")
>>>>>>> e1887269e6dfb21f2e7daad4c3acdea568fe780b
block scripts
    script(src="/assets/client.js")